<%= form_with url: login_path, local: true, id: "login-form" do |form| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control", placeholder: "Your username" %>
  </div>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
  </div>
<% end %>
