<% if likeable.is_a?(Post) %>
  <p>Likes: <%= likeable.likes.count %></p>
  <% if likeable.likes.exists?(user: current_user) %>
    <%= button_to 'Unlike', unlike_post_path(likeable), method: :delete, remote: true %>
  <% else %>
    <%= button_to 'Like', like_post_path(likeable), method: :post, remote: true %>
  <% end %>
<% elsif likeable.is_a?(Comment) %>
  <span>Likes: <%= likeable.likes.count %></span>
  <% if likeable.likes.exists?(user: current_user) %>
    <%= button_to 'Unlike', unlike_comment_path(likeable), method: :delete, remote: true %>
  <% else %>
    <%= button_to 'Like', like_comment_path(likeable), method: :post, remote: true %>
  <% end %>
<% end %>
