<div class="row text-center justify-content-center">
  <div class="col dflex align-items-center">
    <h1>Sign-Up</h1>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= form_with model: @user do |form| %>
      <div class="mb-3">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control", placeholder: "Your display name" %>
      </div>
      <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
      <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
      </div>
      <div class="mb-3">
        <%= form.submit "Register", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
