<%= form_with(url: search_users_path, method: :get) do |form| %>
  <%= form.text_field :query, placeholder: "Search users..." %>
  <%= form.submit "Search" %>
<% end %>

<% if @users.any? %>
  <% @users.each do |user| %>
    <div class="listing">
        <%= link_to user_path(user), style: "text-decoration: none;" do %>
            <% if user.profile_picture.attached? %>
                <%= image_tag user.profile_picture, class: "profile-picture", style: "width: 150px; height: 150px;"%>
            <% else %>
                <img src="default_pfp.png" alt="Default Profile Picture" class="profile-picture" width="150" height="150">
            <% end %>
        <% end %>
        <%= link_to user_path(user) do %>
            <%= user.username %>
        <% end %>
    </div>
  <% end %>
<% else %>
  <p>No users found</p>
<% end %>
