<div class="container">
  <div class="user-profile">
    <% if current_user != @user %>
        <% if current_user.friends.include?(@user) %>
            <%= button_to "Remove Friend", friendship_path(current_user.friends.find_by(id: @user.id)), method: :delete %>
        <% elsif current_user.friend_requests.exists?(friend: @user) %>
            <%= button_to "Cancel Request", friendship_path(@user.id), method: :delete %>
        <% elsif current_user.friendships.exists?(friend: @user) %>
            <%= button_to "Accept Request", friendship_path(@user.id), method: :patch %>
            <%= button_to "Reject Request", friendship_path(@user.id), method: :delete %>
        <% else %>
            <%= button_to "Send Request", friendships_path(friendship: { friend_id: @user.id }), method: :post %>
        <% end %>
    <% end %>
    
    <% if @user.profile_picture.attached? %>
      <%= image_tag @user.profile_picture, class: "profile-picture", style: "width: 300px; height: 300px;" %>
    <% else %>
      <%= image_tag "default_pfp.png", class: "profile-picture", style: "width: 300px; height: 300px;" %>
    <% end %>
    <h1><%= @user.username %></h1>
    <p>Bio: <%= @user.bio %></p>

    <% if @user == current_user %>
      <%= form_with(model: @user, url: update_bio_user_path(@user), method: :patch, local: true, html: { id: "update_bio_form" }) do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this bio from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= form.label :bio, "Update Bio" %>
          <%= form.text_area :bio, class: "form-control", id: "bio_text_area" %>
        </div>
        <div class="form-group">
          <%= form.submit "Update Bio", class: "btn btn-primary", id: "update_bio_button" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="friends-list">
    <h2>Friends</h2>
    <% if @user.friends.any? %>
        <ul>
            <% @user.friends.each do |friendship| %>
            <li><%= link_to friendship.username, friendship %></li>
            <% end %>
        </ul>
    <% else %>
      <p>No friends yet.</p>
    <% end %>
  </div>

  <div id="posts">
    <% if @user == current_user%>        
      <%= render partial: "shared/new_post", locals: { post: Post.new } %>
    <% end %>
    <% if @posts.any? %>
      <%= render @posts %>
    <% else %>
      <p>No posts found.</p>
    <% end %>
  </div>

  <%= paginate @posts, window: 2 %>
</div>
