<div class="post-input">
  <%= form_with model: post, url: posts_path, remote: true, id: "new_post_form" do |form| %>
    <%= form.text_area :content, class: "form-control mb-3", placeholder: "What's on your mind?" %>
    <%= form.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
