<div class="container">
  <%= render partial: "shared/new_post", locals: { post: Post.new } %>

  <div id="posts">
    <% if @posts.any? %>
      <%= render @posts %>
    <% else %>
      <p>No posts found. Search to add some friends!</p>
    <% end %>
  </div>

  <div id="load-more">
    <% if @posts.next_page %>
      <%= link_to 'Load More', root_path(page: @posts.next_page), remote: true, id: 'load-more-posts' %>
    <% end %>
  </div>

  <%= paginate @posts, window: 2 %>
</div>
