<div class="post">
  <p><small><%= post.author.username %> <%= post.created_at.strftime("%B %d, %Y %I:%M %p") %></small></p>
  <p><%= post.content %></p>

  <div id="post_<%= post.id %>_likes">
    <p>Likes: <%= post.likes.count %></p>
    <% if post.likes.exists?(user: current_user) %>
      <%= button_to 'Unlike', unlike_post_path(post), method: :delete, remote: true %>
    <% else %>
      <%= button_to 'Like', like_post_path(post), method: :post, remote: true %>
    <% end %>
  </div>

  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <%= comment.content %>
        <div id="comment_<%= comment.id %>_likes">
          <span>Likes: <%= comment.likes.count %></span>
          <% if comment.likes.exists?(user: current_user) %>
            <%= button_to 'Unlike', unlike_comment_path(comment), method: :delete, remote: true %>
          <% else %>
            <%= button_to 'Like', like_comment_path(comment), method: :post, remote: true %>
          <% end %>
        </div>
        <p><small><%= comment.author.username %> <%= comment.created_at.strftime("%B %d, %Y %I:%M %p") %></small></p>
      </li>
    <% end %>
  </ul>

  <%= form_with(model: [post, Comment.new], local: true) do |form| %>
    <%= form.text_area :content, placeholder: 'Add a comment...' %>
    <%= form.submit 'Comment' %>
  <% end %>
</div>